html {
    font-family: proxima-nova, sans-serif, times-new-roman;
}
/*All Nav Elements Go Below*/
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 600px;
}

.nav-header {
    margin-left: 40px;
}

.nav-flex-container {
    display: none;
}

.nav-link {
    background-color: #F0F3F4;
    text-align: left;
    display: block;
    font-size: 2em;
    height: 100%;
    width: 100%;
    line-height: 80px;
    text-decoration: none;
    color: black;
    margin-bottom: -10px;
}

#nav-list {
    height: 100%;
    width: 85%;
    margin-left: 0px;
    overflow: auto;
}

#ShowNav {
    background-color: #F0F3F4;
    height: 100%;
    width: 150px;
    font-size: 1.5em;
    position: fixed;
    border-width: 0px 3px 0px 3px;
    border-style: solid;
    border-color: #000842;
}

#HideNav {
    background-color: #F0F3F4;
    font-size: 3em;
    border: none;
    outline: none;
    height: 30%;
}

button > header {
    text-align: center;
    color: #000842;
    font-size: 1em;
}

li > header > h2 {
    text-align: center;
}

h2 {
    margin-top: 0px;
}
/*All Nav Hover Classes Go Below*/
#ShowNav:hover {
    background-color: #000842;
}

    #ShowNav:hover > header {
        color: white;
    }

#HideNav:hover {
    background-color: #000842;
}

    #HideNav:hover > header {
        color: white;
    }
/*All JavaScript Classes Go Below*/
.ShowNavBar {
    display: block;
    background-color: #F0F3F4;
}

.ChangeBtnSize {
    visibility: hidden;
}

.ShiftBody {
    margin-left: 600px !important;
    margin-right: 20px !important;
}
/*All Body Elements Go Below*/
#main-doc {
    margin: 0px 0px 0px 250px;
}

.body-container {
    float: right;
    border-radius: 40px;
    background-color: #F0F3F4;
    width: 100%;
    height: auto;
    margin-bottom: 80px;
}

.Main-Section {
    margin: 40px 40px 80px 40px;
    text-align: left;
}

.Description-Text {
    font-size: 1.8em;
}

.Header-Text {
    text-align: left;
    font-size: 1.8em;
}

li {
    list-style-type: none;
    align-items: center;
    margin-bottom: 10px;
}

ul {
    padding-left: 0px;
}

code {
    background-color: #EFF4FF;
    font-family: Courier New;
    word-break: break-all;
}

pre {
    white-space: pre-line;
    word-wrap: break-word;
}
/*All Body Color Classes Go Below*/
.Red-Body {
    border: 5px solid #EC7063;
}

.Orange-Body {
    border: 5px solid #E59866;
}

.Yellow-Body {
    border: 5px solid #F4D03F;
}

.Green-Body {
    border: 5px solid #82E0AA;
}

.Light-Blue-Body {
    border: 5px solid #85C1E9;
}

.Dark-Blue-Body {
    border: 5px solid #4393FF;
}

.Purple-Body {
    border: 5px solid #C39BD3;
}

.Pink-Body {
    border: 5px solid #F7A5CD;
}
/*All Nav Color Classes Go Below*/

.Red-Nav:hover {
    background-color: #F5B7B1;
}

.Orange-Nav:hover {
    background-color: #EDBB99;
}

.Yellow-Nav:hover {
    background-color: #F9E79F;
}

.Green-Nav:hover {
    background-color: #ABEBC6;
}

.Light-Blue-Nav:hover {
    background-color: #BCF4F4;
}

.Dark-Blue-Nav:hover {
    background-color: #95C5FF;
}

.Purple-Nav:hover {
    background-color: #D2B4DE;
}

.Pink-Nav:hover {
    background-color: #FFDDEF;
}

@media (max-width: 1300px) {
    #nav-list {
        width: 70%;
    }

    .ShiftBody {
        margin-left: 500px !important;
    }
}

@media (max-width: 1000px) {

    #ShowNav {
        height: 100px;
        width: 100%;
        border: none;
    }

    .Main-Section {
        margin: 5%;
    }

    #nav-list {
        width: 100%;
    }

    .nav-container {
        width: 100%;
        height: 100%;
    }

    .Description-Text {
        font-size: 1em;
    }

    #main-doc {
        margin: 120px 5% 0px 5%;
    }

    .Header-Text > h1 {
        word-break: initial;
    }

    @media (max-width: 600px) {
        #main-doc {
            margin: 120px 0px 0px 0px;
        }

        .body-container {
            max-width: 100%;
        }
    }
}
